:root {
  /* color-font */
  --dark-blue: rgba(25, 24, 38, 1);
  --white: rgba(252, 250, 249, 1);
  /* background-color */
  --orange: rgba(250, 116, 83, 1);
  --light-blue: rgba(102, 226, 220);
  --yellow-dark: rgba(255, 185, 100);
  /* font-family*/
  --fw-regular: 400;
  --fw-bold: 700;
  --ff-base: "IBM Plex Sans", sans-serif;
  /* font-family: 'IBM Plex Sans', sans-serif; */
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-base);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* CSS styling Mobil first */

.logo-header {
  margin: 1em;
}
.main-title {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: var(--fw-bold);
  margin: 1rem;
}
.main-description {
  margin: 1rem;
  line-height: 1.625em;
}
.background-pattern-1 {
  display: none;
}
.background-pattern-mobile {
  position: absolute;
  top: -15vh;
  right: -28vw;
  max-width: 100vw;
  max-height: 100vh;
}
